body {
  background-color: rgb(0, 0, 0);
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden; /* evita barra de rolagem */
}











body {
  background-color: rgb(9, 17, 79);
  color: rgb(165, 225, 225);
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

h1, p, label {
  color: rgb(230, 221, 221);
}

@keyframes cair {
  to {
    transform: translateY(50);
    opacity: 0;
  }
}









